.all {
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 630px;
    border-radius: 30px;
    background-color: azure;
    
}

.header {
    border-style: solid;
    width: 400px;
    height: 130px;
    border-radius: 30px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    background-color: white;
    padding-top: 10px;
    
}
hr {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.header p {
    margin-bottom: 10px;
    padding-left: -20px;
}

.number1 {
    padding-left: 40px;
    padding-top: -10px;
    font-size: 17pt;
    
}
.number2 {
    padding-left: 40px;
    padding-top: -30px;
    font-size: 25pt;
    margin-top: 10px;
}
.bk {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 310px;
    text-align: center;
    position: absolute;
    margin-top: 15px;
    background-color: goldenrod;
}
.bk p {
    margin-top: 25px;
}
.bk1 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 310px;
    text-align: center;
    position: absolute;
    margin-top: 105px;
}
.bk1 p {
    margin-top: 25px;
}
.bk2 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 310px;
    text-align: center;
    position: absolute;
    margin-top: 195px;
}
.bk2 p {
    margin-top: 25px;
}
.bk3 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 310px;
    text-align: center;
    position: absolute;
    margin-top: 285px;
}
.bk3 p {
    margin-top: 25px;
}
.bk4 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 310px;
    text-align: center;
    position: absolute;
    margin-top: 375px;
}
.bk4 p {
    margin-top: 25px;
}
.s1{
    margin-top: 10px;
}
.s2{
    padding-top: 35px;
}
.mr {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 210px;
    text-align: center;
    position: absolute;
    margin-top: -18px;
}
.mr p {
    margin-top: 25px;
}
.mr1 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 210px;
    text-align: center;
    position: absolute;
    margin-top: 72px;
}
.mr1 p {
    margin-top: 25px;
}
.mr2 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 210px;
    text-align: center;
    position: absolute;
    margin-top: 162px;
}
.mr2 p {
    margin-top: 25px;
}
.mr3 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 210px;
    text-align: center;
    position: absolute;
    margin-top: 252px;
}
.mr3 p {
    margin-top: 25px;
}
.mr4 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 210px;
    text-align: center;
    position: absolute;
    margin-top: 340px;
    background-color: lawngreen;
}
.mr4 p {
    margin-top: 25px;
}
.s3 {
    padding-top: 35px;
}
.mc {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 115px;
    text-align: center;
    position: absolute;
    margin-top: -52px;
}
.mc p {
    margin-top: 25px;
}
.mc1 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 115px;
    text-align: center;
    position: absolute;
    margin-top: 38px;
}
.mc1 p {
    margin-top: 25px;
}
.mc2 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 115px;
    text-align: center;
    position: absolute;
    margin-top: 128px;
}
.mc2 p {
    margin-top: 25px;
}
.mc3 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 115px;
    text-align: center;
    position: absolute;
    margin-top: 218px;
}
.mc3 p {
    margin-top: 25px;
}
.mc4 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 115px;
    text-align: center;
    position: absolute;
    margin-top: 305px;
}
.mc4 p {
    margin-top: 25px;
    font-weight: bolder;
    
}
.ms1 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    position: absolute;
    margin-top: -85px;
}
.ms1 p {
    margin-top: 25px;
}
.ms2 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    position: absolute;
    margin-top: 5px;
}
.ms2 p {
    margin-top: 25px;
}
.ms3 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    position: absolute;
    margin-top: 95px;
}
.ms3 p {
    margin-top: 25px;
}
.ms4 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    position: absolute;
    margin-top: 275px;
}
.ms4 p {
    margin-top: 25px;
}
.s4 {
    padding-top: 33px;
}
.ms1 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    position: absolute;
    margin-top: 5px;
}
.ms1 p {
    margin-top: 25px;
}
.ms2 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    position: absolute;
    margin-top: 95px;
}
.ms2 p {
    margin-top: 25px;
}
.ms3 {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    position: absolute;
    margin-top: 187px;
}
.ms3 p {
    margin-top: 25px;
}
.ms {
    border-style: solid;
    border-width: 2px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    position: absolute;
    margin-top: -85px;
}
.ms p {
    margin-top: 25px;
}